.common-layout {
  --el-color-border: brown;
  --el-text-color-primary: black;
  --el-color-primary: #87CDF6;
  --el-color-secondary: #f6b087;
  // --el-menu-active-color: pink;
  // --el-menu-text-color: green;
  // --el-menu-hover-text-color: purple;
  // --el-menu-hover-bg-color: orange;
}